<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=<?php echo $langs['charset']?>">
<TITLE><?php echo get_title()?> - Jsboard <?php echo $board['ver']?></TITLE>

<STYLE TYPE="text/css">
<!--
body,td {
  font-size: 12px;
  font-family: 굴림, sans-serif;
  color: #292929;
}
a:link, a:visited, a:active { 
 text-decoration: none;
  color: #292929;
}
a:hover {
  text-decoration: underline;
  color: #292929;
}
input {
  font-size: 11px;
  font-family: tahoma, sans-serif;
  color: #292929;
  border-width: 1;
  border-style: solid;
  border-color: #292929;
  padding-left: 1px;
  padding-right: 1px;
  background-color: #ffffff;
}
textarea {
  font-size: 13px;
  font-family: 굴림체, monospace;
  color: #292929;
  border-width: 1;
  border-style: solid;
  border-color: #292929;
  padding-left: 1px;
  background-Color: #ffffff;
  width: 100%;
  height: 150px;
}

.resizable-textarea .grippie {
  height: 14px;
  background: #ECE9D6 url(theme/KO-wizz/img/grippie.png) no-repeat 100% 100%;
  border: 1px solid #DFDBCA;
  border-top-width: 0;
  cursor: se-resize;
}

.resizable-textarea {
  width: 100% !important;
  width: 98%; /* for IE */
}
input.img { border: 0px; }
form { display: inline; }
<?php echo $user_stylesheet?>
-->
</style>
<LINK REL="stylesheet" HREF="./theme/<?php echo $print['theme']?>/design.css" TYPE="text/css">
</HEAD>
<BODY BGCOLOR="#FFFFFF">

<?php
print_keymenu(2);
echo $print['preview_script'] . "\n";

if(!$np) {
  # 각 유저별 Design
  include $board['headpath'];
  # 전체 관리자에 의해 강제 input 되는 Design
  include "html/head.php";
 }
?>

<DIV ALIGN="<?php echo $board['align']?>">
<FORM NAME="editp" METHOD="post" ACTION="act.php"<?php echo $board['formtype']?>>

<TABLE WIDTH="<?php echo $board['width']?>" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR BGCOLOR="#292929">
<TD><FONT style="font-size:11px;font-family:tahoma,sans-serif;color:#FFFFFF">&nbsp;&gt;&gt; Edit article</FONT></TD>
<TD><IMG ALT="" SRC="images/blank.gif" WIDTH=1 HEIGHT=20></TD>
</TR>
</TABLE>

<TABLE WIDTH="<?php echo $board['width']?>" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>
<TD COLSPAN=2><IMG ALT="" SRC="images/blank.gif" WIDTH=1 HEIGHT=3 BORDER=0></TD>
</TR>
</TABLE>

<TABLE WIDTH="<?php echo $board['width']?>" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>
<TD ROWSPAN=9 WIDTH=20><IMG ALT="" SRC="images/blank.gif" WIDTH=20 HEIGHT=1 BORDER=0></TD>
<TD ROWSPAN=9 WIDTH=4 BGCOLOR="#999999" VALIGN="middle"><IMG ALT="" SRC="images/blank.gif" WIDTH=4 HEIGHT=1 BORDER=0></TD>
<TD ROWSPAN=9 WIDTH=10><IMG ALT="" SRC="images/blank.gif" WIDTH=10 HEIGHT=1 BORDER=0></TD>
<TD COLSPAN=2><IMG ALT="" SRC="images/blank.gif" WIDTH=1 HEIGHT=3 BORDER=0><BR></TD>
<TD ROWSPAN=9 WIDTH=20><IMG ALT="" SRC="images/blank.gif" WIDTH=20 HEIGHT=1 BORDER=0><BR></TD>
</TR>

<TR>
<TD WIDTH=80>이름</TD>
<TD><INPUT TYPE="text" NAME="atc[name]" SIZE="<?php echo $size['name']?>" MAXLENGTH=50 VALUE="<?php echo $list['name']?>"<?php echo $disable?> tabindex="1"></TD>
</TR>

<?php
if($view['email'] || trim($list['email'])) {
  echo <<<EOF
<TR>
<TD>메일</TD>
<TD><INPUT TYPE="text" NAME="atc[email]" SIZE="{$size['name']}" MAXLENGTH=255 VALUE="{$list['email']}"{$disable} tabindex="2"></TD>
</TR>
EOF;
}
?>

<?php
if($view['url'] || trim($list['url'])) {
  echo <<<EOF
<TR>
<TD>홈페이지</TD>
<TD><INPUT TYPE="text" NAME="atc[url]" SIZE="{$size['name']}" MAXLENGTH=255 VALUE="{$list['url']}"{$disable} tabindex="3"></TD>
</TR>
EOF;
}
?>

<?php
if($list['bofile']) {
  echo <<<EOF
<TR>
<TD>파일</TD>
<TD>
<A HREF="$down_link">
<IMG SRC="images/$icon" width=16 height=16 border=0 alt="{$list['bofile']}" style="vertical-align: middle;">
<FONT style="color:{$color['text']}">{$list['bofile']}</FONT></A> - $hfsize &nbsp; &nbsp;
<INPUT TYPE="CHECKBOX" NAME="atc[fdel]" VALUE=1 tabindex="4"> 파일삭제
</TD>
</TR>
EOF;
}

if ($upload['yesno'] && $cupload['yesno'] && $noup != 1) {
  echo <<<EOF
<TR>
<TD>파일수정</TD>
<TD>
<INPUT TYPE="HIDDEN" NAME="max_file_size" VALUE="{$upload['maxsize']}">
<INPUT TYPE="file" NAME="userfile" SIZE="{$size['uplo']}" MAXLENGTH=256 STYLE="border:1px solid #555555" tabindex="5">
</TD>
</TR>
EOF;
}
?>

<TR>
<TD>제목</TD>
<TD><INPUT TYPE="text" NAME="atc[title]" SIZE="<?php echo $size['titl']?>" MAXLENGTH=100 VALUE="<?php echo $list['title']?>" tabindex="6"></TD>
</TR>

<TR>
<?php
if(preg_match('/^[046]$/',$board['mode']) && !$board['super']) {
  echo <<<EOF
<TD>패스워드</TD>
<TD>
$passment
</TD>
</TD>
EOF;
}
?>
</TR>

<TR>
<TD COLSPAN=2><IMG ALT="" SRC="images/blank.gif" WIDTH=20 HEIGHT=1 BORDER=0><BR></TD>
</TR>
</TABLE>

<TABLE WIDTH="<?php echo $board['width']?>" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR><TD><IMG ALT="" SRC="images/blank.gif" WIDTH=1 HEIGHT=3 BORDER=0></TD></TR>
</TABLE>

<TABLE WIDTH="<?php echo $board['width']?>" BORDER=0 CELLPADDING=5 CELLSPACING=0>
<TR><TD BGCOLOR="<?php echo $color['l5_bg']?>" ALIGN="CENTER">

<!-- =============================== 글내용 =============================== -->
<script type="text/javascript" src="./theme/common/textarea.js"></script>
<TEXTAREA CLASS="resizable" NAME="epost" tabindex="8"><?php echo "{$list['text']}\n\n"?></TEXTAREA>
<!-- =============================== 글내용 =============================== -->

</TD></TR>
</TABLE>

<TABLE WIDTH="<?php echo $board['width']?>" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR><TD BGCOLOR="#292929"></TD></TR>
</TABLE>

<TABLE WIDTH="<?php echo $board['width']?>" BORDER=0 CELLPADDING=5 CELLSPACING=0>
<TR><TD ALIGN="CENTER">
<?php echo $print['passform']?>
<INPUT TYPE="image" SRC="theme/<?php echo $print['theme']?>/img/edit.gif" CLASS="img" tabindex="9">&nbsp;
<A HREF="#" ONCLICK="history.back()" tabindex="10"><IMG ALT="" SRC="theme/<?php echo $print['theme']?>/img/back.gif" BORDER=0></A>
</TD></TR>
</TABLE>

<BR>
<?php echo print_license()?>

</FORM>
</DIV>

<?php
if(!$np) {
  # 전체 관리자에 의해 강제 input 되는 Design
  include "html/tail.php";
  # 각 유저별 Design
  include "$board[tailpath]";
}
?>
</BODY>
</HTML>
