<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<!-- ==================================================================== -->
<!-- $_('charset')     : print charset code                               -->
<!-- $board['ver']     : version information in webboard                  -->
<!-- get_title()       : print header title in webbared                   -->
<!-- $rss['link']      : RSS Link meta tag                                -->
<!-- ==================================================================== -->
<meta http-equiv="Content-type" content="text/html; charset=<?=$_('charset')?>">
<title><?=get_title()?> - JSBoard <?=$board['ver']?></title>
<script type="text/javascript" src="./theme/common/lib.js"></script>
<link rel="stylesheet" type="text/css" href="./theme/EN-default/default.css">
<?=$user_stylesheet?>
<?=$rss['link']?>
</head>

<body<?=$_focus?>>
<div id="overDiv" class="preview"></div>
<!-- ==================================================================== -->
<!-- $print['preview_script'] : print jsva script for preview function in -->
<!--                          list page                                   -->
<!-- ==================================================================== -->
<?=$print['preview_script']?>

<!-- ========================= Start Header Design ====================== -->
<?
if(!$np) {
  # Design per user
  if ( file_exists ($board['headpath']) ) {
    require_once "{$board['headpath']}";
  }
  # Input by whole admin
  require_once "html/head.php";
 }
?>
<!-- ========================= End Header Design ======================== -->

<!-- ==================================================================== -->
<!-- $board['align'] : print align of webboard. It's config in board admin-->
<!-- ==================================================================== -->
<div align="<?=$board['align']?>">
<!-- ========================= BODY Start       ========================= -->
<?
switch ($bodyType) {
  case 'ext' :
    echo $print['body'];
    break;
  default :
    require_once "{$bodyType}.template";
}
?>
<!-- ========================= BODY End         ========================= -->

<?=print_spam_trap()?>

<!-- ========================= License          ========================= -->
<? if ( ! $nocopy ) { ?>
<table summary="" width="<?=$board['width']?>" border=0 cellpadding=0 cellspacing=0>
<tr><td class="copy">
<a href="http://jsboard.kldp.net/GPL2" target="_blank">Copyleft</a>
1999-<?=date('Y')?> by
<a href="http://jsboard.kldp.net" target="_blank" class="copylnk">
JSBoard Open Project</a><br>
Theme Designed by
<a href="http://idoo.net" target="_blank" class="copylnk">IDOO</a>
All right reserved
</td></tr>
</table>
<? } ?>
<!-- ========================= License          ========================= -->

</div>

<!-- ========================= Start Tail Design ======================== -->
<?
if(!$np) {
  # Input by whole admin
  require_once "html/tail.php";
  # Design per user
  if ( file_exists ($board['tailpath']) ) {
    require_once "{$board['tailpath']}";
  }
}
?>
<!-- ========================= End   Tail Design ======================== -->

</body>
</html>
