<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="Cache-Control" CONTENT="No-Cache">
<META HTTP-EQUIV="Pragma" CONTENT="No-Cache">
<TITLE>JSBoard <?php echo $board['ver']?> Login page</TITLE>
<STYLE TYPE="text/css">
<!--
a:link, a:visited, a:active {
  text-decoration: none;
  color: <?php echo $color['text']?>;
}
a:hover {
  text-decoration: underline;
  color: <?php echo $color['text']?>;
}
body,td {
  font-size: 12px;
  font-family: tahoma, sans-serif;
  color: #333333;
}
input {
  font-size: 11px;
  font-family: tahoma, sans-serif;
  color: <?php echo $color['l4_fg']?>;
  border-width: 1px;
  border-style: solid;
  border-color: <?php echo $color['l4_gu']?>;
  padding-left: 1px;
  padding-right: 1px;
  background-color: <?php echo $color['l4_bg']?>;
}
form { display: inline; }
<?php echo $user_stylesheet?>
-->
</STYLE>
<script type="text/javascript">
<!--
function InputFocus() {
<?php if($mode == "comment") { ?>
  document.auth.lp.focus();
<?php } else { ?>
  document.auth.lu.focus();
<?php } ?>
  return;
}
//-->
</script>
</HEAD>
<BODY BGCOLOR="<?php echo $color['b_bg']?>" onLoad="InputFocus()">

<?php
include "html/head.php";
if($table) { include "data/$table/html_head.php"; }

if($mode == "comment") {
  $actpage = "./act.php";
  $ment = "Comment Delete";
} else {
  $actpage = "./session.php";
  $ment = "JSBoard Login";
}
?>

<TABLE WIDTH="100%" BORDER=0 CELLPADDING=0 CELLSPACING=0 STYLE="height: 100%;">
<TR><TD ALIGN="center" VALIGN="middle">

<FORM NAME="auth" METHOD="POST" ACTION="<?php echo $actpage?>">
<TABLE WIDTH=200 BORDER=0 CELLPADDING=3 CELLSPACING=0>
<TR>
<TD BGCOLOR="<?php echo $color['t_bg']?>" ALIGN="CENTER"><FONT STYLE="FONT: 14px Tahoma; COLOR:<?php echo $color['t_fg']?>; FONT-WEIGHT:bold"><?php echo $ment?></FONT></TD>
</TR>

<TR>
<TD BGCOLOR="<?php echo $color['m_bg']?>" ALIGN="CENTER">
<IMG ALT="" SRC="images/blank.gif" WIDTH=1 HEIGHT=4><BR>

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH="100%">
<?php if($mode == "comment") { ?>
<TR>
<TD ALIGN="CENTER" NOWRAP><NOBR>
Password
<INPUT TYPE="password" NAME="lp" SIZE="<?php echo $size?>" tabindex="1">
<INPUT TYPE="SUBMIT" VALUE="DELETE" tabindex="2">
</NOBR>
<BR>
</TD>
</TR>
<?php } else { ?>
<TR>
<TD ALIGN="CENTER">User</TD>
<TD ALIGN="CENTER"><INPUT TYPE="text" NAME="lu" SIZE="<?php echo $size?>" tabindex="1"></TD>
</TR>

<TR>
<TD ALIGN="CENTER">Password</TD>
<TD ALIGN="CENTER"><INPUT TYPE="password" NAME="lp" SIZE="<?php echo $size?>" tabindex="2"></TD>
</TR>

<TR>
<TD ALIGN="CENTER" COLSPAN=2>
Session Reset <INPUT TYPE="BUTTON" VALUE="RESET" onClick="document.location='./session.php?m=logout<?php echo $opt?>'" tabindex="4">
<INPUT TYPE="SUBMIT" VALUE="LogIn" tabindex="3">
<BR>
</TD>
</TR>
<?php } ?>
</TABLE>

<IMG ALT="" SRC="images/blank.gif" WIDTH=1 HEIGHT=4><BR>
<INPUT TYPE="HIDDEN" NAME="m" VALUE="login">
<?php if ($mode == "comment") { ?>
<INPUT TYPE="HIDDEN" NAME="table" VALUE="<?php echo $table?>">
<INPUT TYPE="HIDDEN" NAME="atc[no]" VALUE="<?php echo $no?>">
<INPUT TYPE="HIDDEN" NAME="atc[cid]" VALUE="<?php echo $cid?>">
<INPUT TYPE="HIDDEN" NAME="o[at]" VALUE="c_del">
<INPUT TYPE="HIDDEN" NAME="page" VALUE="<?php echo $page?>">
<?php } ?>

</TD>
</TR>
</TABLE>
<?php echo $hin?>
<?php echo $tin?>
</FORM>

<?php
if($table) { include "data/$table/html_tail.php"; }
include "html/tail.php";
?>

</TD></TR>
</TABLE>
</BODY></HTML>
