<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Cache-Control" content="No-Cache">
<meta http-equiv="Pragma" content="No-Cache">
<title>JSBoard <?=$board['ver']?> Login page</title>
<script type="text/javascript" src="./theme/common/lib.js"></script>
<link rel="stylesheet" type="text/css" href="./theme/JP-default/default.css">
</head>

<?
include "html/head.php";
if($table) { include "data/$table/html_head.php"; }

if($mode == "comment") {
  $actpage = "./act.php";
  $ment = "Comment Delete";
  $focus = 'lp';
} else {
  $actpage = "./session.php";
  $ment = "JSBoard Login";
  $focus = 'lu';
}
?>
<body onLoad="InputFocus('<?=$focus?>')">

<table width="100%" border=0 cellpadding=0 cellspacing=0 style="height: 100%">
<tr><td align="center" valign="middle">

<form name="auth" method="post" action="<?=$actpage?>">
<table width="200" border=0 cellpadding=3 cellspacing=0>
<tr>
<td class="logtitle"><?=$ment?></td>
</tr>

<tr>
<td class="log_bg">
<img src="images/blank.gif" width=1 height=4 alt=''><br>

<table border=0 cellpadding=0 cellspacing=0 width="100%">
<? if($mode == "comment") { ?>
<tr>
<td class="log_td">
Password
<input type="password" name="lp" id="lp" SIZE="<?=$size?>">
<input type="submit" value="DELETE">
<br>
</td>
</tr>
<? } else { ?>
<tr>
<td align="center">User</td>
<td align="center"><input type="text" name="lu" id="lu" SIZE="<?=$size?>"></td>
</tr>

<tr>
<td align="center">Password</td>
<td align="center"><input type="password" name="lp" id="lp" SIZE="<?=$size?>"></td>
</tr>

<tr>
<td align="center" colspan=2>
Session Reset <input type="button" value="RESET" onClick="document.location='./session.php?m=logout<?=$opt?>'">
<input type="submit" value="LogIn">
<br>
</td>
</tr>
<? } ?>
</table>

<img src="images/blank.gif" width=1 height=4><br>
<input type="hidden" name="m" value="login">
<? if ($mode == "comment") { ?>
<input type="hidden" name="table" value="<?=$table?>">
<input type="hidden" name="atc[no]" value="<?=$no?>">
<input type="hidden" name="atc[cid]" value="<?=$cid?>">
<input type="hidden" name="o[at]" value="c_del">
<input type="hidden" name="page" value="<?=$page?>">
<? } ?>

</td>
</tr>
</table>
<?=$hin?>
<?=$tin?>
</FORM>

</td></tr>
</table>

<?
if($table) { include "data/$table/html_tail.php"; }
include "html/tail.php";
?>

</body></html>
