<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=$_('charset')">
<title>JSBoard Reply Notice</title>
<style type="text/css">
<!--
body {
  font-size: 12px;
  font-family: 明朝, "Lucida Console", monospace;
  color: #555555;
  background-color: #ffffff;
  margin: 0px 0px;
}

td {
  font-size: 12px;
  font-family: 明朝, GulimChe, "Lucida Console", monospace;
  color: #555555;
}
a:link, a:visited, a:active {
  text-decoration: none;
  color: #555555;
}
a:hover {
  text-decoration: underline;
  color: #555555;
}
-->
</STYLE>

</head>

<body>
&nbsp;<br>
<div align="center">
<table width="95%" border=0 cellpadding=1 cellspacing=0>
<tr><td style="background-color: #a0dc10;">

<table width="100%" border=0 cellpadding=10 cellspacing=0>
<tr><td style="font: 20px tahoma; font-weight: bold; color:#ffffff;">
<span style="font: 30px tahoma; font-weight: bold;">J</span>SBoard Reply Notice
</td></tr>
</table>

<table width="100%" border=0 cellpadding=10 cellspacing=0>
<tr><td style="background-color: #d3dac3;">
<pre style="color:#000000;">

$_('html_msg')

Server Name       : $servername$nofm
</pre>
</td></tr>
</table>

<table width="100%" border=0 cellpadding=0 cellspacing=0>
<tr><td><img src="{$board['path']}/images/blank.gif" width=1 height=1 border=0 alt=''></td></tr>
</table>

<table width="100%" border=0 cellpadding=10 cellspacing=0>
<tr><td style="background-color: #f5fbe6;">
<pre style="color: #000000;">

$_('u_name')              : {$rmail['name']}
$addressinfo
$_('reg')              : $year $day $ampm $hms
</pre>
</td></tr>
</table>

<table width="100%" border=0 cellpadding=0 cellspacing=0>
<tr><td><img src="{$board['path']}/images/blank.gif" width=1 height=1 border=0 alt=''></td></tr>
</table>

<table width="100%" border=0 cellpadding=10 cellspacing=0>
<tr><td style="background-color: #ffffff;">
<pre style="color: #555555;">

{$rmail['text']}

</pre>
</td></tr>
</table>

<table width="100%" border=0 cellpadding=10 cellspacing=0>
<tr><td align="right">
<a href="http://jsboard.kldp.net" target="_blank">
<span style="font: 12px tahoma; font-weight: bold; color: #ffffff">Scripted by JSBoard Open Project</span>
</a>
</td></tr>
</table>

</td></tr>
</table>
</div>

<br>
<br>
<br>
</body>
</html>
