<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<!-- ==================================================================== -->
<!-- $langs['charset'] : print charset code                               -->
<!-- $board['ver']     : version information in webboard                  -->
<!-- get_title()     : print header title in webbared                     -->
<!-- $user_stylesheet : User Defined StyleSheet                           -->
<!-- ==================================================================== -->
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=<?=$langs['charset']?>">
<TITLE>Jsboard <?=$board['ver']?> - <?=get_title()?></TITLE>

<STYLE TYPE="text/css">
<!--
BODY,TD {font-size:12px;font-family:tahoma;color:#555555;}
A:LINK, A:VISITED, A:ACTIVE {text-decoration:none; color:#555555}
A:hover {text-decoration:underline; color:#555555}
INPUT {font: 11px tahoma; color:#333333; border-width:1; border-style:solid; border-color:#555555; padding-left:1px; padding-right:1px; background-color:#FFFFFF; }
TEXTAREA {font: 13px comic; color:#333333; border-width:1; border-style:solid; border-color:#555555; padding-left:1px; background-Color:#ffffff;}
form { display: inline; }

<?=$user_stylesheet?>
-->
</style>
</HEAD>
<BODY BGCOLOR="#FFFFFF">

<!-- ======================= Start Header Design ======================= -->
<?
if(!$np) {
  # Design per user
  include "{$board['headpath']}";
  # Input by whole admin
  include "html/head.php";
}
?>
<!-- ======================= End Header Design   ======================= -->

<!-- ==================================================================== -->
<!-- $board['align'] : print align of webboard. It's config in board admin-->
<!-- $board['width'] : print width of webboard. It's config in board admin-->
<!-- $board['formtype'] : print form option to use upload image           -->
<!-- ==================================================================== -->
<DIV ALIGN=<?=$board['align']?>>
<FORM NAME="replyp" METHOD=post ACTION=act.php<?=$board['formtype']?>>
<TABLE WIDTH="<?=$board['width']?>" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>
<TD VALIGN=bottom COLSPAN=2>
<IMG SRC="./theme/EN-default/img/icon_over.gif" ALIGN="middle" ALT=''>
<FONT style="font-size:11px;font-family:tahoma;">&gt;&gt; Write <B>reply</B> article</FONT>
</TD>
</TR>

<TR BGCOLOR="#FFAE00">
<TD COLSPAN=2>
<IMG SRC="./theme/EN-default/img/board_no.gif" ALIGN="middle" ALT=''>
<FONT STYLE="color:#FFFFFF"><IMG SRC="theme/EN-default/img/reply_title.gif" BORDER=0 ALT=''></FONT>
</TD>
</TR>

<TR>
<TD COLSPAN=2><IMG SRC="images/blank.gif" WIDTH=1 HEIGHT=3 BORDER=0 ALT=''></TD>
</TR>
</TABLE>

<TABLE WIDTH="<?=$board['width']?>" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>
<TD ROWSPAN=9 WIDTH=20><IMG SRC="images/blank.gif" WIDTH=20 HEIGHT=1 BORDER=0 ALT=''></TD>
<TD ROWSPAN=9 WIDTH=4 BGCOLOR="#6D7BC9" VALIGN=middle><IMG SRC="images/blank.gif" WIDTH=4 HEIGHT=1 BORDER=0 ALT=''></TD>
<TD ROWSPAN=9 WIDTH=10><IMG SRC="images/blank.gif" WIDTH=10 HEIGHT=1 BORDER=0 ALT=''></TD>
<TD COLSPAN=2><IMG SRC="images/blank.gif" WIDTH=1 HEIGHT=3 BORDER=0 ALT=''><BR></TD>
<TD ROWSPAN=9 WIDTH=20><IMG SRC="images/blank.gif" WIDTH=20 HEIGHT=1 BORDER=0 ALT=''><BR></TD>
</TR>

<!-- ==================================================================== -->
<!-- $size['name']         : print size of input of name filed            -->
<!-- $pre_regist['name'] : print name of registed cookie                  -->
<!-- ==================================================================== -->
<TR>
<TD WIDTH=80><B>Name</B></TD>
<TD><INPUT TYPE=text NAME="atc[name]" SIZE=<?=$size['name']?> MAXLENGTH=50 VALUE="<?=$pre_regist['name']?>"<?=$disable?>></TD>
</TR>

<!-- ==================================================================== -->
<!-- $view['email']          : print email field                          -->
<!-- $pre_regist['email']  : print email of registed cookie               -->
<!-- ==================================================================== -->
<?
if($view['email']) {
  echo <<<EOF

<TR>
<TD><B>Email</B></TD>
<TD><INPUT TYPE=text NAME="atc[email]" SIZE={$size['name']} MAXLENGTH=255 VALUE="{$pre_regist['email']}"$disable></TD>
</TR>\n
EOF;
}
?>

<!-- ==================================================================== -->
<!-- $view['url']             : print url field                           -->
<!-- $pre_regist['url']    : print homepage of registed cookie            -->
<!-- ==================================================================== -->
<?
if($view['url']) {
  echo <<<EOF

<TR>
<TD><B>Homepage</B></TD>
<TD><INPUT TYPE=text NAME="atc[url]" SIZE={$size['name']} MAXLENGTH=255 VALUE="{$pre_regist['url']}"$disable></TD>
</TR>\n
EOF;
}
?>

<!-- ==================================================================== -->
<!-- $html_chk_ok  : print CHECKED if parent article use HTML option      -->
<!-- $html_chk_no  : print CHECKED if parent article don't use HTML option-->
<!-- ==================================================================== -->
<TR>
<TD><B>HTML</B></TD>
<TD>
<INPUT TYPE=radio NAME="atc[html]" VALUE=1<?=$html_chk_ok?>> Use
<INPUT TYPE=radio NAME="atc[html]" VALUE=0<?=$html_chk_no?>> Don't Use
</TD>
</TR>

<!-- ==================================================================== -->
<!-- print upload field                                                   -->
<!-- ==================================================================== -->
<?
if ($upload['yesno'] && $cupload['yesno'] && $noup != 1) {
  echo <<<EOF
<TR>
<TD><B>File</B></TD>
<TD>
<INPUT TYPE=HIDDEN NAME=max_file_size VALUE={$upload['maxsize']}>
<INPUT TYPE=file NAME=userfile SIZE={$size['uplo']} MAXLENGTH=256>
</TD>
</TR>\n
EOF;
} elseif(!$upload['yesno'] && $cupload['yesno']) {
  echo <<<EOF
<TR>
<TD><B>File</B></TD>
<TD><FONT STYLE="color:red;font-weight:bold">{$langs['upload']}<FONT></TD>
</TR>\n
EOF;
}
?>

<!-- ==================================================================== -->
<!-- $size['titl']  : size of title input form                            -->
<!-- $reti        : print reply number                                    -->
<!-- $list['title'] : print reply subject                                 -->
<!-- ==================================================================== -->
<TR>
<TD><B>Subject</B></TD>
<TD><INPUT TYPE=text NAME="atc[title]" SIZE=<?=$size['titl']?> MAXLENGTH=100 VALUE="<?="Re$reti: {$list['title']}"?>"></TD>
</TR>

<TR>
<!-- ==================================================================== -->
<!-- if login admin, don't need password                                  -->
<!-- if IE and NS6 case, print textarea size operation button             -->
<!-- ==================================================================== -->
<?
if(eregi("^(0|4)$",$board['mode']) && !$board['super']) {
  echo <<<EOF
<TD><B>Password</B></TD>
<TD>
<INPUT TYPE=password NAME="atc[passwd]" SIZE={$size['pass']} MAXLENGTH=16>
<IMG SRC="./images/blank.gif" WIDTH=15 HEIGHT=1 BORDER=0 ALT=''>
TextSize Operation {$print['operate']}
</TD>\n
EOF;
} else {
  echo <<<EOF
<TD COLSPAN=2 ALIGN=right>
TextSize Operation {$print['operate']}
</TD>\n
EOF;
}
?>
</TR>

<TR>
<TD COLSPAN=2><IMG SRC="images/blank.gif" WIDTH=20 HEIGHT=1 BORDER=0 ALT=''><BR></TD>
</TR>
</TABLE>

<TABLE WIDTH="<?=$board['width']?>" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR><TD><IMG SRC="images/blank.gif" WIDTH=1 HEIGHT=3 BORDER=0 ALT=''></TD></TR>
</TABLE>

<TABLE WIDTH="<?=$board['width']?>" BORDER=0 CELLPADDING=5 CELLSPACING=0>
<TR><TD BGCOLOR="<?=$color['l5_bg']?>" ALIGN=CENTER>

<!-- ==================================================================== -->
<!-- $text_area  : print textared field for reply                         -->
<!-- ==================================================================== -->
<!-- =============================== Contents =============================== -->
<?=$text_area?>

<!-- =============================== Contents =============================== -->

</TD></TR>
</TABLE>


<!-- ==================================================================== -->
<!-- $wrap['ment'] : if wrap option isn't hard, print warn message        -->
<!-- $table.$pages     : print link option to back list                   -->
<!-- $print['passform']  : hidden value for regist reply article          -->
<!-- $orig_option      : back to original size of textarea                -->
<!-- $orig_button      : print button for printed parent contents         -->
<!-- ==================================================================== -->
<TABLE WIDTH="<?=$board['width']?>" BORDER=0 CELLPADDING=5 CELLSPACING=0>
<TR><TD ALIGN=right><?=$wrap['ment']?></TD></TR>
<TR><TD BGCOLOR="#FFAE00" ALIGN=CENTER>
<?=$print['passform']?>
<INPUT TYPE=submit VALUE="Regist">
<INPUT TYPE=reset VALUE="Reset"<?=$orig_option?>><?=$orig_button?>
<INPUT TYPE=button onClick="document.location='./list.php?table=<?=$table.$pages?>'" VALUE="List">
<INPUT TYPE=button onClick="history.back()" VALUE="Back">
</TD></TR>
</TABLE>

<!-- ==================================================================== -->
<!-- print_license()  : Printed Licese table                              -->
<!-- ==================================================================== -->
<?=print_license()?>

</FORM>
</DIV>

<!-- ======================= 꼬리 디자인 시작 ======================= -->
<?
if(!$np) {
  # Input by whole admin
  include "html/tail.php";
  # Design per user
  include "{$board['tailpath']}";
}
?>
<!-- ======================= 꼬리 디자인 끝   ======================= -->
</BODY>
</HTML>
