<HTML>
<HEAD>
<!-#######################################################################-->
<!-  $langs[charset] : print charset code                                 -->
<!-  $board[ver]     : bersion information in webboard                    -->
<!-  get_title()     : print header title in webbared                     -->
<!-  $user_stylesheet : User Defined StyleSheet                           -->
<!-#######################################################################-->
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=<?=$langs[charset]?>">
<TITLE>Jsboard <?=$board[ver]?> - <?=get_title()?></TITLE>

<STYLE TYPE=text/css>
<!--
BODY,TD {font-size:12px;font-family:tahoma;color:#555555;}
A:LINK, A:VISITED, A:ACTIVE {text-decoration:none; color:#555555}
A:hover {text-decoration:underline; color:#555555}
INPUT {border:1x solid #555555;background-Color:silver;font-size:11px;font-family:굴림체;color:#333333}
SELECT {border:1x solid #555555;background-Color:silver;font:11px tahoma;color:#555555}

<?=$user_stylesheet?>
-->
</style>

<!-#######################################################################-->
<!-  print_newwindow_src()  : print java script for open new window to    -->
<!-                           use in jsboard                              -->
<!-  $print[preview_script] : print jsva script for preview function in   -->
<!-                           list page                                   -->
<!-#######################################################################-->
<? print_newwindow_src($upload[yesno],$cupload[yesno],$enable[dwho]) ?>
</HEAD>
<BODY BGCOLOR=#FFFFFF>
<?=$print[preview_script]?>

<!-------------------- Start Header design -------------------->
<?
if(!$np) {
  # Design per user
  include "$board[headpath]";
  # Input by whole admin
  include "html/head.ph";
}
?>
<!-------------------- End   Header design -------------------->

<!-#######################################################################-->
<!-  $board[align] : print align of webboard. It's config in board admin  -->
<!-  $print[dsearch] : print detail search table                          -->
<!-  $board[width] : print width of webboard. It's config in board admin  -->
<!-  $print[admin] : print admin link.                                    -->
<!-  $list[num]    : Number of article                                    -->
<!-#######################################################################-->
<DIV ALIGN=<?=$board[align]?>>
<?=$print[dsearch]?>
<TABLE WIDTH=<?=$board[width]?> BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>
<TD VALIGN=bottom>
<IMG SRC=./theme/EN-default/img/icon_over.gif ALIGN=absmiddle ALT=''>
<FONT style="font-size:11px;font-family:tahoma;">&gt;&gt; Read <?=$list[num]?> article</FONT>
</TD>
<TD ALIGN=right VALIGN=bottom><?=$print[admin]?></TD>
</TR>

<!-#######################################################################-->
<!-  $list[title]  : Subject of article                                   -->
<!-#######################################################################-->
<? $list[title] = preg_replace("/<BR>\n/i","\\0<IMG SRC=$board[path]images/blank.gif width=40 height=1>",$list[title]); ?>
<TR BGCOLOR=#FFAE00>
<TD COLSPAN=2>
<IMG SRC=./theme/EN-default/img/board_no.gif ALIGN=absmiddle ALT='TITLE: '>
<FONT STYLE="color:#FFFFFF font-weight:bold;"><?=$list[title]?></FONT>
</TD>
</TR>

<TR>
<TD COLSPAN=2><IMG SRC=images/blank.gif WIDTH=1 HEIGHT=3 BORDER=0 ALT=''></TD>
</TR>
</TABLE>


<!-#######################################################################-->
<!-  $list[date]   : Regist date of article                               -->
<!-  $list[refer]  : Read Number of article                               -->
<!-  $list[name]   : Register Name                                        -->
<!-  $list[uname]  : Register Name ( include homepage url )               -->
<!-  $list[attach] : Attach file link                                     -->
<!-#######################################################################-->
<TABLE WIDTH=<?=$board[width]?> BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>
<TD WIDTH=20><IMG SRC=images/blank.gif WIDTH=20 HEIGHT=1 BORDER=0 ALT=''></TD>
<TD WIDTH=4 BGCOLOR=#6D7BC9 VALIGN=center><IMG SRC=images/blank.gif WIDTH=4 HEIGHT=1 BORDER=0 ALT=''></TD>
<TD WIDTH=5><IMG SRC=images/blank.gif WIDTH=5 HEIGHT=1 BORDER=0 ALT=''></TD>
<TD>
<IMG SRC=images/blank.gif WIDTH=1 HEIGHT=3 BORDER=0 ALT=''><BR>
<FONT Style="font-weight:bold">Date</FONT> <?=$list[date]?> &nbsp; &nbsp; 
<FONT Style="font-weight:bold">Read</FONT> <?=$list[refer]?><BR>
<FONT Style="font-weight:bold">Name</FONT> <?=$list[uname]?> &nbsp; &nbsp;
<? if($list[attach]) echo "<FONT Style=\"font-weight:bold\">File</FONT> $list[attach]" ?><BR>
<IMG SRC=images/blank.gif WIDTH=1 HEIGHT=3 BORDER=0 ALT=''><BR>
</TD>
<TD WIDTH=20><IMG SRC=images/blank.gif WIDTH=20 HEIGHT=1 BORDER=0 ALT=''></TD>
</TR>
</TABLE>

<TABLE WIDTH=<?=$board[width]?> BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR><TD><IMG SRC=images/blank.gif WIDTH=1 HEIGHT=3 BORDER=0 ALT=''></TD></TR>
</TABLE>

<!-#######################################################################-->
<!-  $preview[up]   : print attach file if file is gif/jpg/png format     -->
<!-  $list[text]    : print text of article                               -->
<!-  $preview[down] : print attach file if file is ascii type             -->
<!-  $print[rlists] : print reply list if exist reply article in this     -->
<!-                   article                                             -->
<!-#######################################################################-->
<TABLE WIDTH=<?=$board[width]?> BORDER=0 CELLPADDING=5 CELLSPACING=0>
<TR><TD BGCOLOR=<?=$color[l5_bg]?>>
<FONT style="color:<?=$color[l5_fg]?>;font-family:comic">
<?=$preview[up]?>
<!-- =============================== 글내용 =============================== -->
<?=$list[text]?>

<!-- =============================== 글내용 =============================== -->
<?=$preview[down]?>
</FONT>
<?=$print[rlists]?>
</TD></TR>
</TABLE>

<!-#######################################################################-->
<!-  $print[regist]  : registed ipaddress                               -->
<!-  read_cmd(0,1)  : print menu link. default type is used text menu     -->
<!-                   if U use image menu,                                -->
<!-                                                                       -->
<!-                   prev.gif        - previous article or page          -->
<!-                   next.gif        - next article or page              -->
<!-                   list.gif        - articles list                     -->
<!-                   write.gif       - write article                     -->
<!-                   today.gif       - articles before last 12 hour      -->
<!-                   delete.gif      - delete article                    -->
<!-                   edit.gif        - modify article                    -->
<!-                   reply.gif       - reply article                     -->
<!-                   conj.gif        - conjunction article               -->
<!-                                                                       -->
<!-                   upper image is located in theme/theme_name/img      -->
<!-                   and use read_cmd option with read_cmd(1,1)          -->

<!-#######################################################################-->
<TABLE WIDTH=<?=$board[width]?> BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>
<TD>
<FONT style="font-face:tahoma;font-size:11px;"><?=$print[regist]?></FONT><IMG SRC=images/blank.gif WIDTH=1 HEIGHT=25 BORDER=0 ALIGN=absmiddle ALT=''></TD>
<TD ALIGN=right><? read_cmd(0,1) ?></TD>
</TR>
</TABLE>

<!-#######################################################################-->
<!-  See also doc/en/README.THEME for Search and Page form                -->
<!-  $print[dserlink]  : print detail search link                         -->
<!-  $print[pagetime]  : print page loading time                          -->
<!-  $print[sqltime]   : print sql loading time                           -->
<!-#######################################################################-->
<TABLE WIDTH=<?=$board[width]?> BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>
<TD>
<!-- =============================== SEARCH FORM =============================== -->
<TABLE WIDTH=100% BORDER=0 CELLPADDING=0 CELLSPACING=1>
<FORM METHOD=post ACTION=locate.php?table=<?=$table?>>
<TR>
<TD>
<SELECT NAME=o[sc] style="border:1x solid #555555;background-Color:#ffffff;font:11px tahoma;color:#555555">
<OPTION VALUE=t<?=$sform[sc][t]?>>Title
<OPTION VALUE=c<?=$sform[sc][c]?>>Contents
<OPTION VALUE=n<?=$sform[sc][n]?>>Writer
<OPTION VALUE=a<?=$sform[sc][a]?>>All
</SELECT>
<INPUT TYPE=text NAME=o[ss] SIZE=<?=form_size(8)?> MAXLENGTH=255 style="border:1x solid #555555;background-Color:#ffffff;font:12px;color:#555555;" VALUE="<?=$sform[ss]?>">
<INPUT TYPE=submit VALUE=Search style="border:1x solid #555555;background-Color:#ffffff;font:11px tahoma;color:#555555;">
</TD>
</TR><TR>
<TD>
<SELECT NAME=o[st] style="border:1x solid #555555;background-Color:#ffffff;font:11px tahoma;color:#555555">
<OPTION VALUE=m<?=$sform[st][m]?>>A Month
<OPTION VALUE=w<?=$sform[st][w]?>>A Week
<OPTION VALUE=a<?=$sform[st][a]?>>All
</SELECT>
<INPUT TYPE=checkbox NAME=o[er] VALUE=y<?=$sform[er][y]?> style="border:1x solid #555555;background-Color:#ffffff">
<FONT STYLE="font-face:tahoma;color:#555555;font-weight:bold">REGEX</FONT> <?=$print[dserlink]?>
</TD>
</TR>
<INPUT TYPE=hidden NAME=o[at] VALUE=s>
<INPUT TYPE=hidden NAME=o[go] VALUE=p>
<INPUT TYPE=hidden NAME=o[sct] VALUE=s>
<INPUT TYPE=hidden NAME=o[stt] VALUE=s>
</FORM>
</TABLE>
<!-- =============================== SEARCH FORM=============================== -->
</TD>
<TD ALIGN=right>
<FONT style="font-size:11px;font-family:tahoma;">
Page Loading [ <?=$print[pagetime]?> Sec ]
SQL Time [ <?=$print[sqltime]?> Sec ]<BR>
</FONT>
<!-- ============================== PAGE FORM ============================== -->
<TABLE WIDTH=100% BORDER=0 CELLPADDING=0 CELLSPACING=1>
<FORM METHOD=post ACTION=locate.php?table=<?=$table?>>
<TR>
<TD ALIGN=right>
<FONT STYLE="font-size:10px;font-family:tahoma;">
<?=$pform[post]?>
<SELECT NAME=o[go] style="border:1x solid #555555;background-Color:#ffffff;font:11px tahoma;color:#555555">
<OPTION VALUE=p SELECTED>Page No.
<OPTION VALUE=n>Article No.
</SELECT>
<INPUT TYPE=text NAME=o[no] SIZE=<?=form_size(2)?> MAXLENGTH=6 style="border:1x solid #555555;background-Color:#ffffff;font:12px;color:#555555" VALUE='<?=$pform[value]?>'>
<INPUT TYPE=submit VALUE=Go! style="border:1x solid #555555;background-Color:#ffffff;font:11px tahoma;color:#555555">
</FONT>
</TD>
</TR></FORM>
</TABLE>
<!-- ============================== PAGE FORM ============================== -->
</TD>
</TR>
</TABLE>

<!-#######################################################################-->
<!-  print_license()  : Printed Licese table                              -->
<!-#######################################################################-->
<?=print_license()?>

</DIV>

<!-------------------- Start Tail Design ------------------->
<?
if(!$np) {
  # Input by whole admin
  include "html/tail.ph";
  # Design per user
  include "$board[tailpath]";
}
?>
<!-------------------- End   Tail Design ------------------->
</BODY>
</HTML>
