<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<!-- $Id: ext.template,v 1.14 2014-02-26 16:30:58 oops Exp $ -->
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=<?php echo $langs['charset']?>">
<TITLE><?php echo $print['head']?> - Jsboard <?php echo $board['ver']?></TITLE>
<STYLE TYPE="text/css">
<!--
body {
  font-size: 12px;
  font-family: <?php echo $langs['font']?>, sans-serif;
  color: <?php echo $color['text']?>;
  margin: 0px 0px 0px 0px;
  background-color: #FFFFFF;
}
td {
  font-size: 12px;
  font-family: <?php echo $langs['font']?>;
  color: #555555;
}
a:link, a:visited, a:active {
  text-decoration: none;
  color: #555555;
}
A:hover {
  text-decoration: underline;
  color: #555555;
}
INPUT {
  font: 11px tahoma;
  color: <?php echo $color['l4_fg']?> ;
  border-width: 1px;
  border-style: solid;
  border-color: <?php echo $color['l4_gu']?>;
  padding-left: 1px;
  padding-right: 1px;
  background-color: <?php echo $color['l4_bg']?>;
}
SELECT {
  font: 11px tahoma;
  color:<?php echo $color['l4_fg']?>;
  border-width: 1px;
  border-style: solid;
  border-color: <?php echo $color['l4_gu']?>;
  background-Color: <?php echo $color['l4_bg']?>;
}
TEXTAREA {
  font: 13px <?php echo $langs['font']?>;
  color: <?php echo $color['l4_fg']?>;
  border-width: 1px;
  border-style: solid;
  border-color: <?php echo $color['l4_gu']?>;
  padding-left: 1px;
  background-Color: <?php echo $color['l4_bg']?>;
}
 .radio {
  font: 9pt <?php echo $langs['font']?>;
  background-color: <?php echo $color['bgcol']?>;
  color: <?php echo $color['text']?>;
  border: 2px solid <?php echo $color['bgcol']?>;
}
 .title {
  font: 15pt <?php echo $langs['font']?>;
  color: <?php echo $color['n0_fg']?>;
  font-weight: bold;
}
 .en {
  font: 15pt Tahoma;
  font-weight: bold;
  color: <?php echo $color['text']?>;
}
form { display: inline; }
<?php echo $user_stylesheet?>
-->
</STYLE>
</HEAD>

<BODY>

<?
include "html/head.php";

echo $print['body'];

include "html/tail.php";
?>

</BODY>
</HTML>
