/*
 * User Define CSS
 */

body {
  font-size: 12px;
  font-family: 明朝, "Lucida Console", monospace;
  color: #555555;
  line-height: 120%;
  background-color: #ffffff;
  margin: 0px 0px;
}

td {
  font-size: 12px;
  font-family: 明朝, "Lucida Console", monospace;
  color: #555555;
  line-height: 120%;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #555555;
}

a:hover {
  text-decoration: underline;
  color: #555555;
}

img {
  border: 0;
  padding: 0px;
  margin: 0px;
}

input {
  font-size: 11px;
  font-family: 明朝, tahoma, sans-serif;
  color: #555555;
  border-width: 1px;
  border-style: solid;
  border-color: #555555;
  padding-left: 1px;
  padding-right: 1px;
  background-color: #ffffff;
}

select {
  font-size: 11px;
  font-family: 明朝, tahoma, sans-serif;
  color: #555555;
  border-width: 1px;
  border-style: solid;
  border-color: #555555;
  background-Color: #ffffff;
}

textarea {
  font-size: 11px;
  font-family: 明朝, "Lucida Console", monospace;
  color: #555555;
  border-width: 1px;
  border-style: solid;
  border-color: #555555;
  padding-left: 1px;
  background-color: #ffffff;
  width: 100%;
  height: 150px;
}

.cmtarea { height: 100px; }

.resizable-textarea .grippie {
  height: 14px;
  background: #ECE9D6 url(img/grippie.png) no-repeat 100% 100%;
  border: 1px solid #DFDBCA;
  border-top-width: 0;
  cursor: se-resize;
}

.resizable-textarea {
  width: 100% !important;
  width: 98%; /* for IE */
}

form { display: inline; }

/* admin td */
.admin {
  font-size: 11px;
  font-family: 明朝, tahoma, sans-serif;
  font-weight: bold;
  color: #555555;
  text-align: right;
  vertical-align: bottom;
}

/* copyright */
.copy {
  font-size: 12px;
  font-family: 明朝, tahoma, sans-serif;
  color: #555555;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
}

.copylnk {
  color: #555555;
  font-weight: bold;
}

/* list table 雌舘 counter / read article number */
.counter {
  font-size: 11px;
  font-family: 明朝, tahoma, sans-serif;
  color: #555555;
}

/* list 鉢檎 title row */
.ltitle {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  background-color: #a0dc10;
}

/* read page article title */
.rtitle {
  color: #ffffff;
  font-weight: bold;
}

/* read item */
.ritem { font-weight: bold; }

.rbodybg {
  background-color: #f5fbe6;
  text-align: center;
}

/* read article body text */
.rbody {
  color: #000000;
  font-family: 明朝, "Lucida Console";
  text-align: left;
}

/* password td in delete page */
.delpassfd {
  color: #ffffff;
  font-weight: bold;
}

/* Login page */
/* login title */
.logtitle {
  font-size: 14px;
  font-family: 明朝, tahoma, sans-serif;
  color: #ffffff;
  font-weight: bold;
  background-color: #a0dc10;
  text-align: center;
}

/* login table background */
.log_bg {
  text-align: center;
  background-color: #d3dac3;
}

/* login td */
.log_td {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

/*
 * JSBoard Internal CSS
 */

.versionprint {
  font-size: 21px;
  font-family: 明朝, tahoma, sans-serif;
  font-weight: bold;
  color: #a0dc10;
  text-align: center;
  vertical-align: middle;
  font-variant: small-caps;
}

/* rss link */
.rss {
  color: #999999;
  font-weight: bold;
}

/* Notice on list page */
/* notice text */
.notice {
  color: #000000;
  font-weight: bold;
}

.noticebg {
  background-color: #d3dac3;
}

/* listkey number */
.listkey {
  color: red;
  font-weight: bold;
}
 
/* list row */
.row0   { background-color: #f5fbe6; }
.rowbg0 { color: #f5fbe6; }
.row1   { background-color: #d3dac3; }
.rowbg1 { color: #d3dac3; }
.rowOn  { background-color: #e3f9ab; }

.rownum {
  color: #000000;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
}
.rowtitle { color: #000000; }
.rowcomment {
  color: #000000;
  font-size: 9px;
  font-family: 明朝, tahoma, sans-serif;
}
.rowcommentbold {
  color: #000000;
  font-size: 9px;
  font-family: 明朝, tahoma, sans-serif;
  font-weight: bold;
}
.rowname { color: #000000; text-align: right; }
.rowdate {
  color: #000000;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
}
.rownewdate { color: #d2691e; }
.rowrefer { color: #000000; text-align: right; }
.rowupload { text-align: center; }

/* article preview box sytle */
div.preview {
  position: absolute;
  z-index: 50;
  width: 260px;
  visibility: hidden;
}
div.previewload {
  padding: 5px 5px 5px 5px;
  border: 1px #a0dc10 solid;
  background-color: #ffffff;
  color: #555555;
  width: 360px;
}

/* list 疎著 馬舘 page link */
.fast {
  font-size: 10px;
  font-family: 明朝, tahoma, sans-serif;
  color: #555555;
}

/* list 酔著 馬舘 sql time */
.sqltime {
  font-size: 11px;
  font-family: 明朝, tahoma, sans-serif;
  color:#555555;
}

.fastem {
  color: #ffd700;
  font-weight: bold;
}

/* list / read menu */
.menus {
  color: #555555;
}
.menusdisable {
  color: #999999;
}

/* if admin / logout link is text */
.admintext { color: #555555; }

/* no search message */
.narticle {
  font-size: 22px;
  font-family: 明朝, "Lucida Console", monospace;
  font-weight: bold;
  color: #000000;
}
.narticlebg {
  background-color: #f5fbe6;
  text-align: center;
}

/* comment table */
/* comment header message */
.c_header {
  font-size: 10px;
  font-family: 明朝, tahoma, sans-serif;
  font-weight: bold;
}

/* comment td */
.c_td {
  overflow: hidden;
  white-space: nowrap;
}

/* comment context */
.c_text {
  white-space: pre;
}

/* comment user name */
.c_user {
  font-weight: bold;
}

/* comment date */
.c_date {
  font-size: 11px;
  font-family: 明朝, tahoma, sans-serif;
}

/* Comment input table */
/* comment whole guide */
.ci_table {
  background-color: #d3dac3;
}

/* Detail Search div */
/* guide table */
.ds_table {
  background-color: #f5fbe6;
  text-align: center;
}

/* each td */
.ds_td {
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

/* search feild */
.ds_field {
  font-family: 明朝, tahoma, sans-serif;
}

/* Conjunction article list in read page */
.cn_seperate {
  background-image: url(../../images/dotline.gif);
  text-align: center;
}

/* attach file name */
.attachfn {
  color: #000000;
}
/* missing attach file name */
.attachfn_m {
  color: red;
  font-weight: bold;
}

/* password input box */
.passbox {
  font-size: 10px;
  font-family: 明朝, tahoma, sans-serif;
}

/* register ip */
.regip {
  color: #000000;
}

/* Whois CSS */
.whois_tel {
  color: #a0dc10;
  font-weight: bold;
}

.whois_addr {
  color: #d3dac3;
  font-weight: bold;
}

.whois_net {
  color: red;
  font-weight: bold;
}

/* Error popup window */
.err_bg {
  background-color: #d3dac3;
}
.err_fg {
  background-color: #ffffff;
  color: #555555;
}

/* User Registration */
.exttitle {
  font-size: 15pt;
  font-family: 明朝, tahoma, sans-serif;
  font-weight: bold;
  color: #a0dc10;
}

.ext_comment {
  background-color: #d3dac3;
  color: #555555;
}

.ext_field_nb {
  background-color: #d3dac3;
  color: #555555;
  font-weight: bold;
}
.ext_field_ib { background-color: #f5fbe6; }

/* Search word hilighting */
.hilight {
  color: #6d7bc9;
  font-weight: bold;
  text-decoration: underline;
}

/* code block */
.jsCodeBlock {
  border: 1px dotted #a0dc10;
  background-color: #dedede;
  margin: 10px 10px;
  padding: 10px 10px;
}

/* Quote block */
blockquote {
  background: #ebebeb none 6px 8px no-repeat;
  background-image: url("../../images/quote.gif");
  border: 1px solid #dbdbdb;
  font-size: 1em;
  margin: 0.5em 1px 0 25px;
  overflow: hidden;
  padding: 5px;
}

blockquote blockquote {
  /* Nested quotes */
  background-color: #bababa;
  font-size: 1em;
  margin: 0.5em 1px 0 15px;    
}

blockquote blockquote blockquote {
  /* Nested quotes */
  background-color: #e4e4e4;
}

blockquote cite {
  /* Username/source of quoter */
  font-style: normal;
  font-weight: bold;
  margin-left: 20px;
  display: block;
  font-size: 0.95em;
}

blockquote cite cite {
  font-size: 1em;
}

blockquote.uncited {
  padding-top: 25px;
}
