body {
  font-size: 12px;
  font-family: "Lucida Console", monospace;
  color: #555555;
  line-height: 120%;
  background-color: #ffffff;
  margin: 0px 0px;
}

td {
  font-size: 12px;
  font-family: "Lucida Console", monospace;
  color: #555555;
  line-height: 120%;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #555555;
}

a:hover {
  text-decoration: underline;
  color: #555555;
}

img {
  border=0;
  padding: 0px;
  margin: 0px;
}

input {
  font-size: 11px;
  font-family: tahoma, sans-serif;
  color: #555555;
  border-width: 1px;
  border-style: solid;
  border-color: #555555;
  padding-left: 1px;
  padding-right: 1px;
  background-color: #ffffff;
}

select {
  font-size: 11px;
  font-family: tahoma, sans-serif;
  color: #555555;
  border-width: 1px;
  border-style: solid;
  border-color: #555555;
  background-Color: #ffffff;
}

textarea {
  font-size: 11px;
  font-family: "Lucida Console", monospace;
  color: #555555;
  border-width: 1px;
  border-style: solid;
  border-color: #555555;
  padding-left: 1px;
  background-color: #ffffff;
} 

form { display: inline; }

.bigtitle {
  font-size: 40px;
  font-family: tahoma, sans-serif;
  font-weight: bold;
  color: #555555;
}

.smalltitle {
  font-size: 12px;
  font-family: tahoma, sans-serif;
  font-weight: bold;
  color: #555555;
}

.copy {
  font-size: 12px;
  font-family: tahoma, sans-serif;
  color: #555555;
  font-variant: small-caps;
  background-color: #d3dac3;
  text-align: center;
}

.classlink {
  font-size: 12px;
  font-family: tahoma, sans-serif;
  color: #555555;
}

.classlink_b {
  font-size: 12px;
  font-family: tahoma, sans-serif;
  color: #555555;
  font-weight: bold;
}

.fieldtitle {
  background-color: #a0dc10;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.rowtype1 {
  background-color: #d3dac3;
  color: #555555;
}

.rowtype2 {
  background-color: #f5fbe6;
  color: #555555;
  text-align: center;
}

.noaccount {
  background-color: #d3dac3;
  color: #555555;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.pageview_c {
  color: red;
}

/* userlist */
.u_row1 {
  background-color: #f5fbe6;
  color: #555555;
}

.u_row2 {
  background-color: #d3dac3;
  color: #555555;
}

.sortlink { color: #555555; }
.sortlink_c { color: #ffae00; font-weight: bold; }

/* global variables setting - admin_info.php */
.gbtitle {
  background-color: #a0dc10;
  font-size: 20px;
  font-family: tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.spamcomment {
  color: #555555;
  text-align: left;
  padding: 10px 10px 10px 10px;
}

.gbbackground {
  background-color: #ffffff;
  text-align: center;
  color: red;
}

/* statics */
.st_tableguide {
  background-color: #d3dac3;
}
.st_td_title {
  background-color: #d3dac3;
  color: #555555;
  text-align: right;
  white-space: nowrap;
}
.st_td_value {
  background-color: #f5fbe6;
  color: #555555;
  text-align: right;
  white-space: nowrap;
}

/* user admin */
.usertitle {
  font-size: 20px;
  font-family: tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  font-variant: small-caps;
}

.bg {
  font-size: 12px;
  font-family: "Lucida Console", monospace;
  color: #ffffff;
  background-color: #ffffff;
}
.tcolor {
  background-color: #a0dc10;
  font-size: 12px;
  font-family: tahoma, sans-serif;
  color: #ffffff;
  font-weight: bold;
}
.mcolor {
  background-color: #d3dac3;
  font-size: 12px;
  font-family: "Lucida Console", monospace;
  color: #555555;
}

.tarea {
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Lucida Console", monospace;
  color: #555555;
  text-align: right;
}

.dcolor {
  background-color: #f5fbe6;
  font-size: 12px;
  font-family: "Lucida Console", monospace;
  color: #555555;
  text-align: center;
}
