<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<?=$_('charset')?>">
<title>JSBoard Administration Center [ <?=$_title?> ]</title>
<link rel="stylesheet" type="text/css" href="<?=$dpath?>/skin/<?=$_code?>-admin.css">
<script type="text/javascript" src="<?=$dpath?>/skin/admin.js"></script>
</head>

<body>
<!-- ========================= Body Design Start ======================== -->


