<HTML>
<HEAD>
<!-#######################################################################-->
<!-  $langs[charset] : 게시판의 언어 타입에 따라 charset 을 가져온다.     -->
<!-  $board[ver]     : 게시판의 버젼 정보를 가지고 온다.                  -->
<!-  get_title()     : 게시판의 헤더 타이틀을 가지고 온다.                -->
<!-  $user_stylesheet : 사용자 정의 스타일 시트                           -->
<!-#######################################################################-->
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=<?=$langs[charset]?>">
<TITLE>Jsboard <?=$board[ver]?> - <?=get_title()?></TITLE>

<STYLE TYPE=text/css>
<!--
BODY,TD {font-size:12px;font-family:굴림체;color:#555555;}
A:LINK, A:VISITED, A:ACTIVE {text-decoration:none; color:#555555}
A:hover {text-decoration:underline; color:#555555}
INPUT {border:1x solid #555555;background-Color:silver;font-size:11px;font-family:굴림체;color:#333333}
SELECT {border:1x solid #555555;background-Color:silver;font:11px tahoma;color:#555555}

<?=$user_stylesheet?>
-->
</style>

<!-#######################################################################-->
<!-  print_newwindow_src()  : jsboard 의 기능에서 필요한 새창을 띄우는    -->
<!-                           java script 를 출력하게 해 준다.            -->
<!-  $print[preview_script] : list 에서 미리보기를 위한 java script를     -->
<!-                           출력한다.                                   -->
<!-#######################################################################-->
<? print_newwindow_src($upload[yesno],$cupload[yesno],$enable[dwho]) ?>
</HEAD>
<BODY BGCOLOR=#FFFFFF>
<?=$print[preview_script]?>

<!-------------------- 헤더 디자인 시작 -------------------->
<?
if(!$np) {
  # 각 유저별 Design
  include "$board[headpath]";
  # 전체 관리자에 의해 강제 input 되는 Design
  include "html/head.ph";
 }
?>
<!-------------------- 헤더 디자인 끝   -------------------->

<!-#######################################################################-->
<!-  $board[align] : 게시판의 align 을 정의한다. 이는 게시판 관리자에서   -->
<!-                  설정을 할수 있다.                                    -->
<!-  $print[dsearch] : 상세 검색 테이블 출력                              -->
<!-  $board[width] : 게시판의 넓이를 지정한다. 게시판 관리자에서 조정     -->
<!-  $list[num]    : 좌측 상단의 게시판 글 번호                           -->
<!-  $print[admin] : 게시판 우측의 admin 링크를 출력 이는 admin link 이   -->
<!-                  미지를 불러 오는 것으로 꼭 admin.gif가 존재해야 한   -->
<!-                  다. 게시판 관리자에서 안보이도록 설정을 할수가있다   -->
<!-#######################################################################-->
<DIV ALIGN=<?=$board[align]?>>
<?=$print[dsearch]?>
<TABLE WIDTH=<?=$board[width]?> BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>
<TD VALIGN=bottom>
<IMG SRC=./theme/KO-default/img/icon_over.gif ALIGN=absmiddle>
<FONT style="font-size:11px;font-family:tahoma;">&gt;&gt; Read <?=$list[num]?> article</FONT>
</TD>
<TD ALIGN=right VALIGN=bottom><?=$print[admin]?></TD>
</TR>

<!-#######################################################################-->
<!-  $list[title]  : 게시판 글 제목                                       -->
<!-#######################################################################-->
<TR BGCOLOR=#FFAE00>
<TD COLSPAN=2>
<IMG SRC=./theme/KO-default/img/board_no.gif ALIGN=absmiddle>
<FONT STYLE="color:#FFFFFF"><?=$list[title]?></FONT>
</TD>
</TR>

<TR>
<TD COLSPAN=2><IMG SRC=images/blank.gif WIDTH=1 HEIGHT=3 BORDER=0></TD>
</TR>
</TABLE>


<!-#######################################################################-->
<!-  $list[date]   : 글 등록 날짜                                         -->
<!-  $list[refer]  : 글 조회수                                            -->
<!-  $list[name]   : 글쓴이 이름                                          -->
<!-  $list[uname]  : 글쓴이 이름 (homepage link 포함)                     -->
<!-  $list[attach] : 첨부 파일 링크                                       -->
<!-#######################################################################-->
<TABLE WIDTH=<?=$board[width]?> BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>
<TD WIDTH=20><IMG SRC=images/blank.gif WIDTH=20 HEIGHT=1 BORDER=0></TD>
<TD WIDTH=4 BGCOLOR=#6D7BC9 VALIGN=center><IMG SRC=images/blank.gif WIDTH=4 HEIGHT=1 BORDER=0></TD>
<TD WIDTH=5><IMG SRC=images/blank.gif WIDTH=5 HEIGHT=1 BORDER=0></TD>
<TD>
<IMG SRC=images/blank.gif WIDTH=1 HEIGHT=3 BORDER=0><BR>
<FONT Style="font-weight:bold">등록</FONT> <?=$list[date]?> &nbsp; &nbsp; 
<FONT Style="font-weight:bold">조회</FONT> <?=$list[refer]?><BR>
<FONT Style="font-weight:bold">이름</FONT> <?=$list[uname]?> &nbsp; &nbsp;
<? if($list[attach]) echo "<FONT Style=\"font-weight:bold\">파일</FONT> $list[attach]" ?><BR>
<IMG SRC=images/blank.gif WIDTH=1 HEIGHT=3 BORDER=0><BR>
</TD>
<TD WIDTH=20><IMG SRC=images/blank.gif WIDTH=20 HEIGHT=1 BORDER=0></TD>
</TR>
</TABLE>

<TABLE WIDTH=<?=$board[width]?> BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR><TD><IMG SRC=images/blank.gif WIDTH=1 HEIGHT=3 BORDER=0></TD></TR>
</TABLE>

<!-#######################################################################-->
<!-  $preview[up]   : 첨부된 이미지 파일이 gif/jpg/png 일 경우 출력       -->
<!-  $list[text]    : 글 본문 출력                                        -->
<!-  $preview[down] : 첨부된 파일이 ascii 일 경우 출력                    -->
<!-  $print[rlists] : 본글의 댓글이 존재할 경우 댓글 리스트 출력          -->
<!-#######################################################################-->
<TABLE WIDTH=<?=$board[width]?> BORDER=0 CELLPADDING=5 CELLSPACING=0>
<TR><TD BGCOLOR=<?=$color[l5_bg]?>>
<FONT style="color:<?=$color[l5_fg]?>;font-family:굴림체">
<?=$preview[up]?>
<!-- =============================== 글내용 =============================== -->
<?=$list[text]?>

<!-- =============================== 글내용 =============================== -->
<?=$preview[down]?>
</FONT>
<?=$print[rlists]?>
</TD></TR>
</TABLE>

<!-#######################################################################-->
<!-  $print[regist]  : 글 등록지를 출력. (게시판 어드민에서 관리가 가능   -->
<!-                    하기 때문에 설정을 해 줄것!                        -->
<!-  read_cmd(0,1)   : list page 의  list_cmd(0,1) 참조 (우측 하단 메뉴)  -->
<!-#######################################################################-->
<TABLE WIDTH=<?=$board[width]?> BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>
<TD>
<FONT style="font-face:tahoma;font-size:11px;"><?=$print[regist]?></FONT><IMG SRC=images/blank.gif WIDTH=1 HEIGHT=25 BORDER=0 ALIGN=absmiddle></TD>
<TD ALIGN=right><? read_cmd(0,1) ?></TD>
</TR>
</TABLE>

<!-#######################################################################-->
<!-  검색폼과 페이지 폼은 doc/ko/README.THEME 참조                        -->
<!-  $print[dserlink] : 상세 검색 링크 출력                               -->
<!-  $print[pagetime]  : 우측 하단 페이지 로딩 시간 출력                  -->
<!-  $print[sqltime]   : 우측 하단 sql 로딩 시간 출력                     -->
<!-#######################################################################-->
<TABLE WIDTH=<?=$board[width]?> BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>
<TD>
<!-- =============================== 검색폼 =============================== -->
<TABLE WIDTH=100% BORDER=0 CELLPADDING=0 CELLSPACING=1>
<FORM METHOD=post ACTION=locate.php?table=<?=$table?>>
<TR>
<TD>
<SELECT NAME=o[sc] style="border:1x solid #555555;background-Color:#ffffff;font:11px tahoma;color:#555555">
<OPTION VALUE=t<?=$sform[sc][t]?>>Title
<OPTION VALUE=c<?=$sform[sc][c]?>>Contents
<OPTION VALUE=n<?=$sform[sc][n]?>>Writer
<OPTION VALUE=a<?=$sform[sc][a]?>>All
</SELECT>
<INPUT TYPE=text NAME=o[ss] SIZE=<?=form_size(8)?> MAXLENGTH=255 style="border:1x solid #555555;background-Color:#ffffff;font:12px;color:#555555;" VALUE="<?=$sform[ss]?>"
>
<INPUT TYPE=submit VALUE=Search style="border:1x solid #555555;background-Color:#ffffff;font:11px tahoma;color:#555555;">
</TD>
</TR><TR>
<TD>
<SELECT NAME=o[st] style="border:1x solid #555555;background-Color:#ffffff;font:11px tahoma;color:#555555">
<OPTION VALUE=m<?=$sform[st][m]?>>A Month
<OPTION VALUE=w<?=$sform[st][w]?>>A Week
<OPTION VALUE=a<?=$sform[st][a]?>>All
</SELECT>
<INPUT TYPE=checkbox NAME=o[er] VALUE=y<?=$sform[er][y]?> style="border:1x solid #555555;background-Color:#ffffff">
<FONT STYLE="font-face:굴림;color:#555555">정규표현식</FONT> <?=$print[dserlink]?>
</TD>
</TR>
<INPUT TYPE=hidden NAME=o[at] VALUE=s>
<INPUT TYPE=hidden NAME=o[go] VALUE=p>
<INPUT TYPE=hidden NAME=o[sct] VALUE=s>
<INPUT TYPE=hidden NAME=o[stt] VALUE=s>
</FORM>
</TABLE>
<!-- =============================== 검색폼 =============================== -->
</TD>
<TD ALIGN=right>
<FONT style="font-size:11px;font-family:tahoma;">
Page Loading [ <?=$print[pagetime]?> Sec ]
SQL Time [ <?=$print[sqltime]?> Sec ]<BR>
</FONT>
<!-- ============================== 페이지폼 ============================== -->
<TABLE WIDTH=100% BORDER=0 CELLPADDING=0 CELLSPACING=1>
<FORM METHOD=post ACTION=locate.php?table=<?=$table?>>
<TR>
<TD ALIGN=right>
<FONT STYLE="font-size:10px;font-family:tahoma;">
<?=$pform[post]?>
<SELECT NAME=o[go] style="border:1x solid #555555;background-Color:#ffffff;font:11px tahoma;color:#555555">
<OPTION VALUE=p SELECTED>Page No.
<OPTION VALUE=n>Article No.
</SELECT>
<INPUT TYPE=text NAME=o[no] SIZE=<?=form_size(2)?> MAXLENGTH=6 style="border:1x solid #555555;background-Color:#ffffff;font:12px;color:#555555" VALUE='<?=$pform[value]?>'
>
<INPUT TYPE=submit VALUE=Go! style="border:1x solid #555555;background-Color:#ffffff;font:11px tahoma;color:#555555">
</FONT>
</TD>
</TR></FORM>
</TABLE>
<!-- ============================== 페이지폼 ============================== -->
</TD>
</TR>
</TABLE>

<!-#######################################################################-->
<!-  print_license()  : 라이센스 출력                                     -->
<!-#######################################################################-->
<?=print_license()?>

</DIV>

<!-------------------- 꼬리 디자인 시작 -------------------->
<?
if(!$np) {
  # 전체 관리자에 의해 강제 input 되는 Design
  include "html/tail.ph";
  # 각 유저별 Design
  include "$board[tailpath]";
}
?>
<!-------------------- 꼬리 디자인 끝   -------------------->
</BODY>
</HTML>
