<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<!--  ====================================================================  -->
<!--  $langs['charset'] : 掲示板の 言語 タイプに よって charset を 持って来る.    -->
<!--  $board['ver']     : 掲示板の バージョン 情報を 持って 来る.                 -->
<!--  get_title()     : 掲示板の ヘッダー タイトルを 持って 来る.                 -->
<!--  $user_stylesheet : 使用者 正義 スタイル シーツ                            -->
<!--  ====================================================================  -->
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=<?=$langs['charset']?>">
<TITLE><?=get_title()?> - Jsboard <?=$board['ver']?></TITLE>

<STYLE TYPE="text/css">
<!-- 
BODY,TD {
  font-size: 12px;
  font-family: <?=$langs['font']?>, sans-serif;
  color: #555555;
}
A:LINK, A:VISITED, A:ACTIVE {
  text-decoration: none;
  color: #555555;
}
A:hover {
  text-decoration: underline;
  color: #555555;
}
INPUT {
  font: 11px tahoma, sans-serif;
  color: #333333;
  border-width: 1px;
  border-style: solid;
  border-color: #555555;
  padding-left: 1px;
  padding-right: 1px;
  background-color: #FFFFFF;
}

/* code block */
.jsCodeBlock {
  border: 1px dotted #a0dc10;
  background-color: #dedede;
  margin: 10px 10px;
  padding: 10px 10px;
}

form { display: inline; }

<?=$user_stylesheet?>
 -->
</style>

<!--  ====================================================================  -->
<!--  print_newwindow_src()  : jsboard 義 機能で 必要な 新しいウィンドーを 浮かべる     -->
<!--                           java script を 出力するように 日 与える.             -->
<!--  ====================================================================  -->
<? print_newwindow_src($upload['yesno'],$cupload['yesno'],$enable['dwho']) ?>
</HEAD>
<BODY BGCOLOR="#FFFFFF">
<!--  ======================= ヘッダー デザイン 手始め =======================  -->
<?
if(!$np) {
  # 各 ユーザー別 Design
  include "{$board['headpath']}";
  # 全体 管理者に 義解 強制 input なる Design
  include "html/head.php";
 }
?>
<!--  ======================= ヘッダー デザイン 終り   =======================  -->

<!--  ====================================================================  -->
<!--  $board['align'] : 掲示板の align を 定義する. おこる 掲示板 管理者で  -->
<!--                  設定を すること ある.                                     -->
<!--  $board['width'] : 掲示板の 広さを 指定する. 掲示板 管理者で 調整    -->
<!--  $list['num']    : 左側 上端の 掲示板 文 番号                          -->
<!--  ====================================================================  -->
<DIV ALIGN="<?=$board['align']?>">
<FORM METHOD="post" target=_top action='http://j2k.naver.com/k2j_frame.php/korean/oops.org/ko/act.php'>
<TABLE WIDTH="<?=$board['width']?>" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>
<TD VALIGN="bottom" COLSPAN=2>
<IMG SRC="./theme/JP-default/img/icon_over.gif" ALIGN="middle" ALT=''>
<FONT style="font-size:11px;font-family:tahoma,sans-serif;">&gt;&gt; Delete <?=$list['num']?> article</FONT>
</TD>
</TR>

<!--  ====================================================================  -->
<!--  $list['title']  : 掲示板 文 題目                                      -->
<!--  ====================================================================  -->
<? $list['title'] = preg_replace("/<br>\n/i","\\0<IMG SRC=\"{$board['path']}images/blank.gif\" width=40 height=1>",$list['title']); ?>
<TR BGCOLOR="#FFAE00">
<TD COLSPAN=2>
<IMG SRC="./theme/JP-default/img/board_no.gif" ALIGN="middle" ALT='No.'>
<FONT STYLE="color:#FFFFFF; font-weight:bold"><?=$list['title']?></FONT>
</TD>
</TR>

<TR>
<TD COLSPAN=2><IMG SRC="images/blank.gif" WIDTH=1 HEIGHT=3 BORDER=0 ALT=''></TD>
</TR>
</TABLE>

<!--  ====================================================================  -->
<!--  $list['date']   : 文 登録 日付                                        -->
<!--  $list['dhost']  : 文 登録誌                                           -->
<!--  $list['refer']  : 文 ヒット数                                           -->
<!--  $list['name']   : 著者 名前                                         -->
<!--  $list['uname']  : 著者 名前 (homepage url 含み)                     -->
<!--  $list['attach'] : 添付 ファイル リンク                                      -->
<!--  ====================================================================  -->
<? if($enable['dhost']) $list['dhost'] = "By ".$list['dhost']; ?>
<TABLE WIDTH="<?=$board['width']?>" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>
<TD WIDTH=20><IMG SRC="images/blank.gif" WIDTH=20 HEIGHT=1 BORDER=0 ALT=''></TD>
<TD WIDTH=4 BGCOLOR="#6D7BC9" VALIGN="middle"><IMG SRC="images/blank.gif" WIDTH=4 HEIGHT=1 BORDER=0 ALT=''></TD>
<TD WIDTH=5><IMG SRC="images/blank.gif" WIDTH=5 HEIGHT=1 BORDER=0 ALT=''></TD>
<TD>
<IMG SRC="images/blank.gif" WIDTH=1 HEIGHT=3 BORDER=0 ALT=''><BR>
<FONT Style="font-weight:bold">登録</FONT> <?=$list['date']?> <?=$list['dhost']?> &nbsp; &nbsp; 
<FONT Style="font-weight:bold">問い合わせ</FONT> <?=$list['refer']?><BR>
<FONT Style="font-weight:bold">名前</FONT> <?=$list['uname']?> &nbsp; &nbsp;
<? if($list['attach']) echo "<FONT Style=\"font-weight:bold\">ファイル</FONT> {$list['attach']}" ?><BR>
<IMG SRC="images/blank.gif" WIDTH=1 HEIGHT=3 BORDER=0 ALT=''><BR>
</TD>
<TD WIDTH=20><IMG SRC="images/blank.gif" WIDTH=20 HEIGHT=1 BORDER=0 ALT=''></TD>
</TR>
</TABLE>

<TABLE WIDTH="<?=$board['width']?>" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR><TD><IMG SRC="images/blank.gif" WIDTH=1 HEIGHT=3 BORDER=0 ALT=''></TD></TR>
</TABLE>

<!--  ====================================================================  -->
<!--  $preview['up']   : 添付された イメージ ファイルが gif/jpg/png 仕事 場合 出力      -->
<!--  $list['text']    : 文 本文 出力                                       -->
<!--  $preview['down'] : 添付された ファイルが ascii 仕事 場合 出力                   -->
<!--  ====================================================================  -->
<TABLE WIDTH="<?=$board['width']?>" BORDER=0 CELLPADDING=5 CELLSPACING=0>
<TR><TD BGCOLOR="<?=$color['l5_bg']?>">
<DIV style="color:<?=$color['l5_fg']?>;font-family: <?=$langs['font']?>, sans-serif;">
<?=$preview['up']?>
<!--  =============================== 文内容 ===============================  -->
<?=$list['text']?>

<!--  =============================== 文内容 ===============================  -->
<?=$preview['down']?>
</DIV>
</TD></TR>
</TABLE>

<!--  ====================================================================  -->
<!--  $warning          : 削除の時 必要な 警告文 出力                         -->
<!--  $table.$page      : リストで 帰る リンクに 必要な 変数たち            -->
<!--  $print['passform']  : 削除するのに 必要な hidden 変数たち                 -->
<!--  ====================================================================  -->
<TABLE WIDTH="<?=$board['width']?>" BORDER=0 CELLPADDING=5 CELLSPACING=0>
<TR><TD ALIGN="right">
<?=$warning?>
[ <A HREF="list.php?table=<?=$table.$page?>"><FONT STYLE="color:#555555">リスト</FONT></A> | <A HREF="javascript:history.back()"><FONT STYLE="color:#555555">以前</FONT></A> ]
</TD></TR>
<TR><TD BGCOLOR="#FFAE00" ALIGN="CENTER">
<FONT STYLE="color:#FFFFFF;font-weight:bold">
<?=$print['passform']?>
<INPUT TYPE="submit" VALUE="削除">&nbsp;
<INPUT TYPE="button" onClick="history.back()" VALUE="取り消し">
</FONT>
</TD></TR>
</TABLE>

<!--  ====================================================================  -->
<!--  print_license()  : ライセンス 出力                                      -->
<!--  ====================================================================  -->
<?=print_license()?>

</FORM>
</DIV>

<!--  ======================= しっぽ デザイン 手始め =======================  -->
<?
if(!$np) {
  # 全体 管理者に 義解 強制 input なる Design
  include "html/tail.php";
  # 各 ユーザー別 Design
  include "{$board['tailpath']}";
}
?>
<!--  ======================= しっぽ デザイン 終り   =======================  -->
</BODY>
</HTML>
