<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<!--  ====================================================================  -->
<!--  $langs['charset'] : 掲示板の 言語 タイプに よって charset を 持って来る.    -->
<!--  $board['ver']     : 掲示板の バージョン 情報を 持って 来る.                 -->
<!--  get_title()     : 掲示板の ヘッダー タイトルを 持って 来る.                 -->
<!--  $user_stylesheet : 使用者 正義 スタイル シーツ                            -->
<!--  ====================================================================  -->
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=<?php echo $langs['charset']?>">
<TITLE><?php echo get_title()?> - Jsboard <?php echo $board['ver']?></TITLE>

<STYLE TYPE="text/css">
<!-- 
BODY,TD {
  font-size: 12px;
  font-family: <?php echo $langs['font']?>, sans-serif;
  color: #555555;
}
A:LINK, A:VISITED, A:ACTIVE {
  text-decoration: none;
  color: #555555;
}
A:hover {
  text-decoration: underline;
  color: #555555;
}
INPUT {
  font:  11px tahoma, sans-serif;
  color: <?php echo $color['l4_fg']?>;
  border-width: 1px;
  border-style: solid;
  border-color: <?php echo $color['l4_gu']?>;
  padding-left: 1px;
  padding-right: 1px;
  background-color: <?php echo $color['l4_bg']?>;
}
SELECT {
  font:  11px tahoma, sans-serif;
  color: <?php echo $color['l4_fg']?>;
  border-width: 1px;
  border-style: solid;
  border-color: <?php echo $color['l4_gu']?>;
  background-Color: <?php echo $color['l4_bg']?>;
}
TEXTAREA {
  font: 13px <?php echo $langs['font']?>, sans-serif;
  color: <?php echo $color['l4_fg']?>;
  border-width: 1px;
  border-style: solid;
  border-color: <?php echo $color['l4_gu']?>;
  padding-left: 1px;
  background-Color: <?php echo $color['l4_bg']?>;
}

/* code block */
.jsCodeBlock {
  border: 1px dotted #a0dc10;
  background-color: #dedede;
  margin: 10px 10px;
  padding: 10px 10px;
}

/* Quote block */
blockquote {
  background: #ebebeb none 6px 8px no-repeat;
  background-image: url("./images/quote.gif");
  border: 1px solid #dbdbdb;
  font-size: 1em;
  margin: 0.5em 1px 0 25px;
  overflow: hidden;
  padding: 5px;
}

blockquote blockquote {
  /* Nested quotes */
  background-color: #bababa;
  font-size: 1em;
  margin: 0.5em 1px 0 15px;    
}

blockquote blockquote blockquote {
  /* Nested quotes */
  background-color: #e4e4e4;
}

blockquote cite {
  /* Username/source of quoter */
  font-style: normal;
  font-weight: bold;
  margin-left: 20px;
  display: block;
  font-size: 0.95em;
}

blockquote cite cite {
  font-size: 1em;
}

blockquote.uncited {
  padding-top: 25px;
}
form { display: inline; }

<?php echo $user_stylesheet?>
 -->
</style>

<!--  ====================================================================  -->
<!--  print_newwindow_src()  : jsboard 義 機能で 必要な 新しいウィンドーを 浮かべる     -->
<!--                           java script を 出力するように 日 与える.             -->
<!--  $print['preview_script'] : list で 予め見るのを ための java scriptを    -->
<!--                           出力する.                                    -->
<!--  ====================================================================  -->
<?php print_newwindow_src($upload['yesno'],$cupload['yesno'],$enable['dwho']) ?>
</HEAD>
<BODY BGCOLOR="#FFFFFF">
<?php echo $print['preview_script']?>

<!--  ======================= ヘッダー デザイン 手始め =======================  -->
<?php
if(!$np) {
  # 各 ユーザー別 Design
  include "{$board['headpath']}";
  # 全体 管理者に 義解 強制 input なる Design
  include "html/head.php";
 }
?>
<!--  ======================= ヘッダー デザイン 終り   =======================  -->

<!--  ====================================================================  -->
<!--  print_keymenu() : keyboard 路 掲示板を 制御                           -->
<!--                    'n or +' = 上文                                     -->  
<!--                    'b or -' = の下文                                   -->  
<!--  ====================================================================  -->
<?php echo print_keymenu(1)?>

<!--  ====================================================================  -->
<!--  $board['align'] : 掲示板の align を 定義する. おこる 掲示板 管理者で  -->
<!--                  設定を すること ある.                                     -->
<!--  $print['dsearch'] : 詳細 検索 テーブル 出力                             -->
<!--  $board['width'] : 掲示板の 広さを 指定する. 掲示板 管理者で 調整    -->
<!--  $list['num']    : 左側 上端の 掲示板 文 番号                          -->
<!--  $print['admin'] : 掲示板 右側の admin リンクを 出力 おこる admin link これ  -->
<!--                  未知を 呼んで 来る ので 必ず admin.gif街 存在すると たいてい    -->
<!--                  だ. 掲示板 管理者で 見えないように 設定を することができる    -->
<!--  $print['lout']  : ログ寅時 ログアウト ボタンを 出力                       -->
<!--  ====================================================================  -->
<DIV ALIGN="<?php echo $board['align']?>">
<?php echo $print['dsearch']?>
<TABLE WIDTH="<?php echo $board['width']?>" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>
<TD WIDTH=34 VALIGN="bottom"><IMG SRC="./theme/JP-default/img/icon_over.gif" ALIGN="middle" ALT=''></TD>
<TD WIDTH="95%"><FONT style="font-size:11px;font-family:tahoma,sans-serif;">&gt;&gt; Read <?php echo $list['num']?> article</FONT></TD>
<TD ALIGN="right" VALIGN="bottom"><?php echo $print['lout']?>&nbsp;<?php echo $print['admin']?></TD>
</TR>

<!--  ====================================================================  -->
<!--  $list['title']  : 掲示板 文 題目                                      -->
<!--  ====================================================================  -->
<?php $list['title'] = preg_replace("/<BR>\n/i","\\0<IMG SRC=\"{$board['path']}images/blank.gif\" width=40 height=1>",$list['title']); ?>
<TR BGCOLOR="#FFAE00">
<TD COLSPAN=3>
<IMG SRC="./theme/JP-default/img/board_no.gif" ALIGN="middle" ALT='TITLE: '>
<FONT STYLE="color:#FFFFFF; font-weight:bold;"><?php echo $list['title']?></FONT>
</TD>
</TR>

<TR>
<TD COLSPAN=3><IMG SRC="images/blank.gif" WIDTH=1 HEIGHT=3 BORDER=0 ALT=''></TD>
</TR>
</TABLE>


<!--  ====================================================================  -->
<!--  $list['date']   : 文 登録 日付                                        -->
<!--  $list['refer']  : 文 ヒット数                                           -->
<!--  $list['name']   : 著者 名前                                         -->
<!--  $list['uname']  : 著者 名前 (homepage link 含み)                    -->
<!--  $list['attach'] : 添付 ファイル リンク                                      -->
<!--  ====================================================================  -->
<TABLE WIDTH="<?php echo $board['width']?>" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>
<TD WIDTH=20><IMG SRC="images/blank.gif" WIDTH=20 HEIGHT=1 BORDER=0 ALT=''></TD>
<TD WIDTH=4 BGCOLOR="#6D7BC9" VALIGN="middle"><IMG SRC="images/blank.gif" WIDTH=4 HEIGHT=1 BORDER=0 ALT=''></TD>
<TD WIDTH=5><IMG SRC="images/blank.gif" WIDTH=5 HEIGHT=1 BORDER=0 ALT=''></TD>
<TD>
<IMG SRC="images/blank.gif" WIDTH=1 HEIGHT=3 BORDER=0 ALT=''><BR>
<FONT Style="font-weight:bold">登録</FONT> <?php echo $list['date']?> &nbsp; &nbsp; 
<FONT Style="font-weight:bold">問い合わせ</FONT> <?php echo $list['refer']?><BR>
<FONT Style="font-weight:bold">名前</FONT> <?php echo $list['uname']?> &nbsp; &nbsp;
<?php if($list['attach']) echo "<FONT Style=\"font-weight:bold\">ファイル</FONT> {$list['attach']}" ?><BR>
<IMG SRC="images/blank.gif" WIDTH=1 HEIGHT=3 BORDER=0 ALT=''><BR>
</TD>
<TD WIDTH=20><IMG SRC="images/blank.gif" WIDTH=20 HEIGHT=1 BORDER=0 ALT=''></TD>
</TR>
</TABLE>

<TABLE WIDTH="<?php echo $board['width']?>" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR><TD><IMG SRC="images/blank.gif" WIDTH=1 HEIGHT=3 BORDER=0 ALT=''></TD></TR>
</TABLE>

<!--  ====================================================================  -->
<!--  $preview['up']   : 添付された イメージ ファイルが gif/jpg/png 仕事 場合 出力      -->
<!--  $list['text']    : 文 本文 出力                                       -->
<!--  $preview['down'] : 添付された ファイルが ascii 仕事 場合 出力                   -->
<!--  $print['rlists'] : 本文の デッグルが 存在する 場合 デッグル リスト 出力         -->
<!--  ====================================================================  -->
<TABLE WIDTH="<?php echo $board['width']?>" BORDER=0 CELLPADDING=5 CELLSPACING=0>
<TR><TD BGCOLOR="<?php echo $color['l5_bg']?>">
<DIV style="color:<?php echo $color['l5_fg']?>;font-family:<?php echo $langs['font']?>,monospace">
<?php echo $preview['up']?>
<!--  =============================== 文内容 ===============================  -->
<?php echo $list['text']?>

<!--  =============================== 文内容 ===============================  -->
<?php echo $preview['down']?>
</DIV>

<!--  =============================== コメント ===============================  -->
<?php echo $print['comment']?>
<!--  =============================== コメント ===============================  -->
</TD></TR>
</TABLE>

<?php if ($print['rlists']) { ?>
<P>
<TABLE WIDTH="<?php echo $board['width']?>" BORDER=0 CELLPADDING=1 CELLSPACING=0>
<TR><TD BGCOLOR="<?php echo $color['l3_bg']?>"><IMG SRC="./images/blank.gif" WIDTH=1 HEIGHT=1 BORDER=0 ALT=''></TD></TR>
<TR>
<TD>
<IMG SRC="./images/blank.gif" WIDTH=1 HEIGHT=3 BORDER=0 ALT=''><BR>
&gt;&gt; <?php echo $langs['conj']?>
<!--  =============================== 回答文 ===============================  -->
<?php echo $print['rlists']?>
<!--  =============================== 回答文 ===============================  -->
</TD></TR>
<TR><TD BGCOLOR="<?php echo $color['l3_bg']?>"><IMG SRC="./images/blank.gif" WIDTH=1 HEIGHT=1 BORDER=0 ALT=''></TD></TR>
</TABLE>
<?php } ?>

<!--  ====================================================================  -->
<!--  $print['regist']  : 文 登録誌を 出力. (掲示板 Adminで 管理が 可能  -->
<!--                    夏期 だから 設定を 日 与えること!                         -->
<!--  read_cmd(0,1)   : list page 義  list_cmd(0,1) 参照 (右側 下端 メニュー)   -->
<!--  ====================================================================  -->
<TABLE WIDTH="<?php echo $board['width']?>" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>
<TD>
<FONT style="font-family:tahoma,sans-serif;font-size:11px;"><?php echo $print['regist']?>&nbsp;</FONT><IMG SRC="images/blank.gif" WIDTH=1 HEIGHT=25 BORDER=0 ALIGN="middle" ALT=''></TD>
<TD ALIGN="right"><?php read_cmd(0,1) ?></TD>
</TR>
</TABLE>

<!--  ====================================================================  -->
<!--  ゴムセックポムと ページ フォームは doc/ko/README.THEME 参照                         -->
<!--  $print['dserlink'] : 詳細 検索 リンク 出力                              -->
<!--  $print['pagetime']  : 右側 下端 ページ ローディング 時間 出力                 -->
<!--  $print['sqltime']   : 右側 下端 sql ローディング 時間 出力                    -->
<!--  ====================================================================  -->
<TABLE WIDTH="<?php echo $board['width']?>" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>
<TD>
<!--  =============================== ゴムセックポム ===============================  -->
<FORM METHOD="post" ACTION="locate.php?table=<?php echo $table?>">
<TABLE WIDTH="100%" BORDER=0 CELLPADDING=0 CELLSPACING=1>
<TR>
<TD>
<SELECT NAME="o[sc]" style="border:1px solid <?php echo $color['l4_gu']?>;background-Color:<?php echo $color['l4_bg']?>;font:11px tahoma,sans-serif;color:<?php echo $color['l4_fg']?>">
<OPTION VALUE="t"<?php echo $sform['sc']['t']?>>Title
<OPTION VALUE="c"<?php echo $sform['sc']['c']?>>Contents
<OPTION VALUE="n"<?php echo $sform['sc']['n']?>>Writer
<OPTION VALUE="a"<?php echo $sform['sc']['a']?>>All
</SELECT>
<INPUT TYPE="text" ID="searchstr" NAME="o[ss]" SIZE="<?php echo form_size(8)?>" MAXLENGTH=255 style="border:1px solid <?php echo $color['l4_gu']?>;background-Color:<?php echo $color['l4_bg']?>;font-size:12px;color:<?php echo $color['l4_fg']?>;" VALUE="<?php echo $sform['ss']?>">
<INPUT TYPE="submit" VALUE="Search" style="border:1px solid <?php echo $color['l4_gu']?>;background-Color:<?php echo $color['l4_bg']?>;font:11px tahoma,sans-serif;color:<?php echo $color['l4_fg']?>;">
</TD>
</TR><TR>
<TD>
<SELECT NAME="o[st]" style="border:1px solid <?php echo $color['l4_gu']?>;background-Color:<?php echo $color['l4_bg']?>;font:11px tahoma,sans-serif;color:<?php echo $color['l4_fg']?>">
<OPTION VALUE="m"<?php echo $sform['st']['m']?>>A Month
<OPTION VALUE="w"<?php echo $sform['st']['w']?>>A Week
<OPTION VALUE="a"<?php echo $sform['st']['a']?>>All
</SELECT>
<INPUT TYPE="checkbox" NAME="o[er]" VALUE="y"<?php echo $sform['er']['y']?> style="border:1px solid <?php echo $color['l4_gu']?>;background-Color:<?php echo $color['l4_bg']?>">
<FONT STYLE="font-family:<?php echo $langs['vfont']?>,sans-serif;color:#555555">正規表現式</FONT> <?php echo $print['dserlink']?>
</TD>
</TR>
</TABLE>
<INPUT TYPE="hidden" NAME="o[at]" VALUE="s">
<INPUT TYPE="hidden" NAME="o[go]" VALUE="p">
<INPUT TYPE="hidden" NAME="o[sct]" VALUE="s">
<INPUT TYPE="hidden" NAME="o[stt]" VALUE="s">
</FORM>
<!--  =============================== ゴムセックポム ===============================  -->
</TD>
<TD ALIGN="right">
<FONT style="font-size:11px;font-family:tahoma,sans-serif;">
Page Loading [ <?php echo $print['pagetime']?> Sec ]
SQL Time [ <?php echo $print['sqltime']?> Sec ]<BR>
</FONT>
<!--  ============================== ペイジポム ==============================  -->
<FORM METHOD="post" ACTION="locate.php?table=<?php echo $table?>">
<TABLE WIDTH="100%" BORDER=0 CELLPADDING=0 CELLSPACING=1>
<TR>
<TD ALIGN="right">
<FONT STYLE="font-size:10px;font-family:tahoma,sans-serif;">
<?php echo $pform['post']?>
<SELECT NAME="o[go]" style="border:1px solid <?php echo $color['l4_gu']?>;background-Color:<?php echo $color['l4_bg']?>;font:11px tahoma,sans-serif;color:<?php echo $color['l4_fg']?>">
<OPTION VALUE="p" SELECTED>Page No.
<OPTION VALUE="n">Article No.
</SELECT>
<INPUT TYPE="text" NAME="o[no]" SIZE="<?php echo form_size(2)?>" MAXLENGTH=6 style="border:1px solid <?php echo $color['l4_gu']?>;background-Color:<?php echo $color['l4_bg']?>;font-size:12px;color:<?php echo $color['l4_fg']?>" VALUE='<?php echo $pform['value']?>'>
<INPUT TYPE="submit" VALUE="Go!" style="border:1px solid <?php echo $color['l4_gu']?>;background-Color:<?php echo $color['l4_bg']?>;font:11px tahoma,sans-serif;color:<?php echo $color['l4_fg']?>">
</FONT>
</TD>
</TR>
</TABLE></FORM>
<!--  ============================== ペイジポム ==============================  -->
</TD>
</TR>
</TABLE>

<!--  ====================================================================  -->
<!--  print_license()  : ライセンス 出力                                      -->
<!--  ====================================================================  -->
<?php echo print_license()?>

</DIV>

<!--  ======================= しっぽ デザイン 手始め =======================  -->
<?php
if(!$np) {
  # 全体 管理者に 義解 強制 input なる Design
  include "html/tail.php";
  # 各 ユーザー別 Design
  include "{$board['tailpath']}";
}
?>
<!--  ======================= しっぽ デザイン 終り   =======================  -->
</BODY>
</HTML>
