<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<!-- ==================================================================== -->
<!-- $_('charset')     : 게시판의 언어 타입에 따라 charset 을 가져온다.   -->
<!-- $board['ver']     : 게시판의 버젼 정보를 가지고 온다.                -->
<!-- get_title()       : 게시판의 헤더 타이틀을 가지고 온다.              -->
<!-- $user_stylesheet  : 사용자 정의 스타일 시트                          -->
<!-- $rss['link']      : RSS Link meta tag                                -->
<!-- ==================================================================== -->
<meta http-equiv="Content-type" content="text/html; charset=<?=$_('charset')?>">
<title><?=get_title()?> - JSBoard <?=$board['ver']?></title>
<script type="text/javascript" src="./theme/common/lib.js"></script>
<link rel="stylesheet" type="text/css" href="./theme/KO-default/default.css">
<?=$user_stylesheet?>
<?=$rss['link']?>
<!-- $Id: index.template,v 1.4 2009-11-16 21:52:47 oops Exp $ -->
</head>

<body<?=$_focus?>>
<div id="overDiv" class="preview"></div>
<!-- ==================================================================== -->
<!-- $print['preview_script'] : 미리보기를 위한 java script 를 출력.      -->
<!-- ==================================================================== -->
<?=$print['preview_script']?>

<!-- ========================= 헤더 디자인 시작 ========================= -->
<?
if(!$np) {
  # 각 유저별 Design
  if ( file_exists ($board['headpath']) ) {
    require_once "{$board['headpath']}";
  }
  # 전체 관리자에 의해 강제 input 되는 Design
  require_once "html/head.php";
 }
?>
<!-- ========================= 헤더 디자인 끝   ========================= -->

<!-- ==================================================================== -->
<!-- $board['align'] : 게시판의 align 을 정의한다. 이는 게시판 관리자에서 -->
<!--                   설정을 할수 있다.                                  -->
<!-- ==================================================================== -->
<div align="<?=$board['align']?>">
<!-- ========================= BODY Start       ========================= -->
<?
switch ($bodyType) {
  case 'ext' :
    echo $print['body'];
    break;
  default :
    require_once "{$bodyType}.template";
}
?>
<!-- ========================= BODY End         ========================= -->

<?=print_spam_trap()?>

<!-- ========================= 라이센스         ========================= -->
<? if ( ! $nocopy ) { ?>
<table summary="" width="<?=$board['width']?>" border=0 cellpadding=0 cellspacing=0>
<tr><td class="copy">
<a href="http://jsboard.kldp.net/GPL2" target="_blank">Copyleft</a>
1999-<?=date('Y')?> by
<a href="http://jsboard.kldp.net" target="_blank" class="copylnk">
JSBoard Open Project</a><br>
Theme Designed by
<a href="http://idoo.net" target="_blank" class="copylnk">IDOO</a>
All right reserved
</td></tr>
</table>
<? } ?>
<!-- ========================= 라이센스         ========================= -->

</div>

<!-- ========================= 꼬리 디자인 시작 ========================= -->
<?
if(!$np) {
  # 전체 관리자에 의해 강제 input 되는 Design
  require_once "html/tail.php";
  # 각 유저별 Design
  if ( file_exists ($board['tailpath']) ) {
    require_once "{$board['tailpath']}";
  }
}
?>
<!-- ========================= 꼬리 디자인 끝   ========================= -->

</body>
</html>
